// Import fonts
@import "./fonts.scss";

// Color variables
$--dark-gray: rgb(112, 112, 112);
$--moderate-blue: #53A2BE;
$--strong-blue: #1D84B5;
$--light-gray: #ECECEC;
$--dark-blue: #176087;
$--success: #28A745;
$--warning: #FFC107;
$--error: #DC3545;
$--white: #FFFFFF;
$--black: #000000;

// Font size variables
$--header-1-font-size: 3em;
$--header-2-font-size: 2.5em;
$--body-font-size: 1.5em;
$--caption-font-size: 1em;

// Font family variables
$--header-1-font: "Inter 18pt Bold", sans-serif;
$--header-2-font: "Inter 18pt SemiBold", sans-serif;
$--body-font: "Inter 18pt Regular", sans-serif;
$--caption-font: "Inter 18pt Light", sans-serif;

// Line height variables
$--headers-line-height: 1.2;
$--body-line-height: 1.5;

