@font-face {
	font-family: "Inter 18pt Bold";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/inter-18pt/inter-18pt-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter 18pt SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-18pt/inter-18pt-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter 18p Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-18pt/inter-18pt-medium.woff2") format("woff2");
}

@font-face {
	font-family: "Inter 18pt Regular";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/inter-18pt/inter-18pt.woff2") format("woff2");
}
