// Import Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Import element variables
@import "./element-variables.scss";

body {
  font-family: Inter, sans-serif;
  background-color: $--white;
  
  h1 {
    font-size: 3em;
    font-weight: 600;
  }

  h2 {
    font-size: 2.4em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.1em;
    color: $--dark-gray;
  }

  // Id's
  #testimonial-section, #contact-cta, #newsletter-section {
    background-color: $--light-gray;
  }

  // Classess
  .feature-icon {
    font-size: 1.4em;
    background-color: $--moderate-blue;
    padding: 10px 16px;
    border-radius: 50%;
  }
}