// Import Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Import element variables
@import "./element-variables.scss";

html,
body {
  font-family: $--inter-regular;
  background-color: $--white;

  header {
    ul {
      justify-content: center;
      text-align: center;
      li {
        a {
          font-family: $--inter-medium;
          font-size: $--button-font-size;
        }
      }
    }
  }

  .nav-link:hover {
    color: $--strong-blue;
  }

  .nav-link.active {
    color: $--strong-blue !important;
  }

  .display-h0,
  h1 {
    font-family: $--inter-bold;
  }

  h2,
  h3 {
    font-family: $--inter-semibold;
  }

  #display-h0 {
    font-size: $--display-font-size;
  }

  h1 {
    font-size: $--header-1-font-size;
  }

  h2 {
    font-size: $--header-2-font-size;
  }

  h3 {
    font-size: $--header-3-font-size;
  }

  h4 {
    font-size: $--header-4-font-size;
  }

  p {
    font-family: $--inter-regular;
    font-size: $--body-default-font-size;
    color: $--dark-gray;
  }

  .feature {
    max-width: 400px;

    i {
      width: fit-content;
    }
  }

  footer {
    ul {
      margin-top: 16px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 1.1em;
          color: $--dark-gray;
          font-weight: 500;
        }
      }
    }
  }

  // Id's
  #partner-logos {
    background-color: $--white;
  }

  #testimonial-text {
    font-size: 1.8em;
    font-weight: 500;
  }

  // Classess
  .navbar {
    img {
      width: 100px;
    }
  }

  .buttonsCI {
    align-items: center;
    text-align: center;
    gap: 16px;
  }

  .footer-brand {
    img {
      width: 100px;
    }
  }

  .btn {
    font-family: $--inter-medium;
    font-size: $--button-font-size;
    padding: 8px 16px;
    border-radius: 8px;
  }

  .btn-primary {
    background-color: $--strong-blue;
    border: none;
  }

  .btn-primary:hover {
    background-color: $--moderate-blue;
  }

  .btn-light{
    background-color: $--dark-blue;
    color: $--white;
  }
  .btn-light:hover{
    background-color: $--moderate-blue;
  }

  .badge {
    border-radius: 16px !important;
  }

  .badge.text-bg-primary {
    background-color: $--strong-blue !important;
    font-size: 1em;
    font-weight: 500;
    width: fit-content;
  }

  .badge.text-bg-secondary {
    background-color: $--moderate-blue !important;
  }

  .feature-icon {
    font-size: 1.4em;
    background-color: $--moderate-blue;
    padding: 10px 16px;
    border-radius: 50%;
  }

  .third-feature-stat {
    font-size: 2.8em;
    font-weight: 600;
    color: $--moderate-blue;
  }
}

/* ADDED */
//  main{
//   margin: 20px;
//  }



.sizeContact {
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  padding: 10px;
}

#navbarNav {
  justify-content: end;
  text-align: end;
}
.smallTitle {
  font-size: 1.2em;
  font-weight: 700;
  color: $--strong-blue;
}

.icons {
  font-size: 1em;
  color: $--dark-blue;
}

.colorEmail {
  color: $--strong-blue;
  font-weight: 600;
}

.leftAlign {
  text-align: left;
}

.leftAligned {
  text-align: left;
  padding: 20px;
}

.flex{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cursor {
  cursor: pointer;
}

.mWidth{
  max-width: 400px;
}


@media only screen and (max-width: 600px) {
  .sizeLogo {
    margin-left: 16px;
  }

  h1 {
    font-size: 2.3em !important;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  .d-flex {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  #testimonial-section {
    img {
      width: 80% !important;
      height: auto;
    }
  }

  #get-to-know-us-section {
    img {
      width: 60% !important;
      height: auto;
    }
  }
}

@media screen and (min-width: 800px) {
  //  main{
  //   // margin: 20px;
  //   // margin-left: 60px;
  //   // margin-right: 60px;
  //  }+

  .cards {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card {
    height: 500px;
  }

   .card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
   }



  .contact-form-section.form {
    width: 200px;
  }
  .contact-form-section.flex-column {
    flex-direction: row !important;
  }

  /* ---SIZE CONTACT */

  .sizeForm {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
  }
  /* --- */
}

@media screen and (max-width: 1050px) {
  .dFlex {
    display: flex;
    flex-wrap: wrap;
  }
}
/* --- */
